
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body{
    background-color: #f7f7f7;
}

.container{
    max-width: 1000px;
    margin: auto;
}

.logo{
    padding: 60px;
    text-align: center;
}

.menuList{
    display: flex;
    gap: 0px 20px;

    justify-content: center;
}
.menuList > .menuItem > .item{
    padding: 15px 30px;
    border-radius: 3px;
    color: #000;
}

.branco{
    background-color: #FFF;
}