
div{
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}

.div1{
    background: aqua;
}

.div2{
    background: rgba(0, 0, 255, .5);
}

.div3{
    background: linear-gradient(red, blue, green);
}

.div4{
    background: radial-gradient(red 10%, blue 40%, green 80%);
}

.div5{
    background: left / 100% no-repeat url(img/favicon_io/favicon-16x16.png); /* top / contain no-repeat (left / 100% no-repeat)  */
}

.div6{
    border-radius: 4px;
    box-shadow:inset 0px 0px 5px #111;
    background: left 50% / 10% 25% repeat-x url(img/favicon_io/favicon-16x16.png);/* O último valor(%) distorce a imagem */
}

.div7{
    box-shadow:0px 0px 10px #CCC;
    background:top / contain no-repeat url(img/favicon_io/favicon.ico) #111;
}

.div8{
    box-shadow:inset 0px 0px 10px #CCC;
    background:top / contain no-repeat url(img/favicon_io/favicon-32x32.png),
    #111 5% url(img/favicon_io/favicon-16x16.png);
}

.div9{
    height: auto;
    background: repeat-y left / 30% url(img/favicon_io/favicon-32x32.png);
    background-attachment: fixed;
}