

:root{
    --texto1: #000;
    --texto2: #C6C6C6;
    --fundo1: #FFF;
    --fundo2: #F7F7F7;
    --backGround: url(img/onda.svg);
    --borda1: 2px solid #FFF;
    --borda2: 2px solid #ee2211;
}

@media(prefers-color-scheme: dark){
    :root{
        --texto1: #FFF;
        --texto2: #FFF;
        --fundo1: #0E0F11;
        --fundo2: #161819;
        --backGround: none;
        --borda1: 2px solid #161819;
        --borda2: 2px solid #FFF;
    }
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body,
.especificacoesItem:nth-child(odd){
    background-color: var(--fundo2);
}

.container{
    max-width: 1000px;
    margin: auto;
}

.cabecalho{
    position: relative;
}

.menuMobile{
    display: none;
}

.menuMobile div{
    width: 30px;
    height: 6px;
    background-color: #ee2211;
}

.logo{
    padding: 60px;
    text-align: center;
}

.logo img{
    width: 10rem;
}

.menuList{
    margin-bottom: 60px;
    display: flex;
    gap:20px;
    flex-wrap: wrap;

    justify-content: center;
    font-size: 1rem;
}

.menuList > .menuItem{
    margin: 10px;
    font-size: 1rem;
}
.menuList > .menuItem > .item{
    padding: 13px 28px;
    border-radius: 3px;
    color: var(--texto1);
    border: var(--borda1);
}
.menuList > .menuItem > .item:hover{
    border: var(--borda2);
}

.branco{
    background-color: var(--fundo1);
}

.grid{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.grid > .info{
    padding: 40px;
    border-top-left-radius: 4px;
    text-align: end;
    position: relative;

    display: grid;
    align-content: center;
    justify-items: end;
    gap: 25px;
}
.grid > .info::before{
    content: "";
    
    padding: 2px;
    width: 60px;
    background-color: #ee2211;

    position: absolute;
    top: 40px;
    right: -32px;
    z-index: 1;
}

.grid > .info > h2{
    font-size: 1.8rem;
    color: var(--texto1);
}

.grid > .info > p{
    font-size: 1.25rem;
    color: var(--texto1);
}

.grid > .info > .botao{
    padding: 15px 30px;
    border-radius: 3px;
    background-color: #ee2211;
    color: #FFF;
}
.grid > .info > .botao:hover{
    background-color: #ab1103;
}

.grid img{
    max-width: 100%;
    border-top-right-radius: 4px;

    position: relative;
}

.vantagens{
    font-size: 4rem;
    color: var(--texto2);
    padding: 40px;
    align-self: center;
    text-align: end;
    background: var(--backGround);
}

.especificacoes{
    padding: 60px;
    border-bottom-right-radius: 4px;
}

.especificacoes > .especificacoesItem{
    padding: 20px;
    
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
}
.especificacoes > .especificacoesItem:hover{
    padding-left: 17px;
    border-left: 3px solid #ee2211;
}

.especInfo > h3{
    margin-bottom: 15px;
    font-size: 1.12rem;
    color: var(--texto1);
}

.especInfo > p{
    margin-bottom: 15px;
    font-size: 1.12rem;
    color: var(--texto1);
}

.rodape{
    padding: 45px;
    font-size: 1.12rem;
    text-align: center;
}

.rodape > p{
    color: var(--texto1);
}