
*{
    margin: 0;
    padding: 0;
}

.container{
    padding: 20px;
}

h1{
    padding: 20px;
    text-align: center;
}
h1 img{
    width: 400px;
}

.conteudo img{
    max-width: 100%;
}

.conteudo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.conteudo p{
    font-size: 2rem;
}

@media(max-width: 850px){
    .conteudo p{
        font-size: 1.6rem;
    }

    h1 img{
        width: 300px;
    }
}
@media(max-width: 700px){
    .conteudo{
        grid-template-columns: 1fr;
    }
}
@media(max-width: 350px){
    h1 img{
        width: 200px;
    }

    .conteudo{
        justify-items: center;
    }

    .conteudo img{
        max-width: 85%;
    }

    .conteudo p{
        font-size: 1.2rem;
    }
}

@media(min-width: 1000px){
    h1{
       padding: 40px; 
    }

    .conteudo{
        gap: 40px;
    }

    .conteudo p{
        font-size: 2.4rem;
    }
}

@media(min-width: 1100px) and (max-width:1114px){
    .conteudo p{
        background-color: red;
    }
}