
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.titulo{
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.item{
    padding: 20px;
    background-color: #F7F7F7;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    display: grid;
}

img{
    max-width: 300px;
    width: 100%;
}

.comprar{
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #A8F;
    color: #103;
}